* {
    margin: 0px;
    padding: 0px;
}

html {
    margin: 0px;
    padding: 0px;
}


body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.containner {
    width: 90vw;
    height: 115vh;
    background: linear-gradient( rgb(0,191,255), rgb(0,4,255));
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form {
    width: 250px;
    height: 350px;
    background-color: white;
    padding: 55px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    
    
}

form .name,
.email,
.password {
    background-color: rgba(0, 0, 0, 0.07);
    margin: 10px 0px;
    padding: 13px;
    color: gray;
    font-size: 12px;
}

form div input {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    ;
}


h1 {
    text-align: center;
    margin-bottom: 50px;
    color: blue;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.buttons button {
    width: 45%;
    padding: 8px;
    border-radius: 25px;
    border: none;
    color: gray;
    cursor: pointer;

}

.buttons button:focus,
input:focus {
    outline: none;
}


.buttons button:hover {
    background-color: rgb(0,191,255);
    color: white;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.socials i {
    margin: 5px;
    font-size: 20px;
    color: rgb(0,191,255);

}

.form-control {
	height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: none;
}
.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 400px;
	margin: 30px auto;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2  {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr  {
	margin: 0 -30px 20px;
}    
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #3598dc;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #2389cd !important;
	outline: none;
}
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #3598dc;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);
#vedic-head {
           text-align: center;
           align-items: center;
           font-size: 75px;
           font-family: 'arial';

           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
       }
.ben{
   display: flex;
   margin-left: auto;
   margin-right: auto;
   justify-content: space-evenly;
}
.ben-text{
   width: 60%;
   word-wrap: break-word;
   box-sizing: border-box;
   padding: 5px;
   font-size:30px;

   
}
.ben-lab{
   color:skyblue;
   font-weight: 600;
   margin-left: 140px;
}
